attr==0.3.2
colorama==0.4.6
ConfigParser==7.2.0
crewai==0.130.0
crewai_tools==0.47.1
cryptography==45.0.4
Cython==3.1.2
dl==0.1.0
docutils==0.21.2
fastapi==0.115.13
filelock==3.18.0
firebase_admin==6.9.0
GoogleNews==1.6.15
GoogleNews==1.6.15
HTMLParser==0.0.2
importlib_resources==6.5.2
ini2toml==0.15
ipython==8.12.3
ipywidgets==8.1.7
pyjnius==1.6.1
keyring==25.6.0
langchain_openai>=0.2.1,<0.3.0
chromadb>=0.5.23
mod==0.3.0
openai==1.88.0
pandas==2.3.0
path.py==12.5.0
Pillow==11.2.1
pkg1==0.0.3
protobuf==6.31.1
pydantic==2.11.7
python-multipart==0.0.20
pyOpenSSL==25.1.0
pytest==8.4.1
python-dotenv==1.1.0
redis==6.2.0
scikit_learn==1.7.0
selenium==4.33.0
Sphinx==8.2.3
thread==2.0.5
tomli_w==1.2.0
trove_classifiers==2025.5.9.12
urllib3_secure_extra==0.1.0
uvicorn==0.34.3
xx==3.3.2
